body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #070707;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

h2 {
    text-align: center;
    color: #2c3e50;
}

h3 {
    color: #2980b9;
}

.heatmap-container{
    display: block;
    justify-content: center;
}

.plot-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.plot {
    flex: 1;
    max-width: 33%;
    min-width: 300px;
    height: 400px;
}

@media (max-width: 1200px) {
    .plot {
        max-width: 48%;
    }
}

@media (max-width: 768px) {
    .plot {
        max-width: 100%;
        height: 300px; 
    }
}

.scatter-section {
    margin-top: 20px;
}

.scatter-plot {
    margin-bottom: 20px;
}

hr {
    margin: 40px 0;
}